.loginsignup{
    width: 100%;
    height: 80vh;
    background: #fce3fe;
    padding-top: 100px;
}

.loginsignup-container{
    width: 580px;
    height: 600px;
    margin: auto;
    background: #fff;
    padding: 40px 60px;
}
.loginsignup-container h1{
    margin: 20px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.loginsignup-fields input{
    padding-left: 20px;
    font-size: 18px;
    border: 1px solid #c9c9c9;
    height: 72px;
    width: 100%;
    outline: none;
    color: #5c5c5c;
}

.loginsignup-fields input::placeholder{
    color: #5c5c5c;
}

.loginsignup-fields button{
    background: #ff4141;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    border: none;
    height: 72px;
    width: 580px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 40px;
}

.loginsignup-login{
    margin-top: 20px;
    font-size: 18px;
    color: #5c5c5c;
    font-weight: 500;
}

.loginsignup-login span{
    color: #ff4141;
    cursor: pointer;
    font-weight: 600;
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}